{{> header }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Mi página de prueba</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est velit, laborum deserunt voluptates voluptas officia atque in tenetur nisi! Perferendis laudantium porro quasi ab beatae? Eaque, possimus? Tempore, nihil quas?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/user.png" alt="imagen" class="img-thumbnail">
        </div>
    </div>

{{> footer}}